$thin: 100;
$extra: 200;
$extralight: 200;
$extra-light: 200;
$light: 300;
$normal: 400;
$book: 450;
$regular: 400;
$medium: 500;
$semi: 600;
$semibold: 600;
$semi-bold: 600;
$bold: 700;
$heavy: 800;
$ultra: 800;
$extrabold: 800;
$black: 900;

$dark: #151518;
$white: #F0F0F0;
$white-hover: #c4c4c4;
$gray: #ACACAC;
$red: #BE0000;
$red-hover: #aa0606;

$fz-xsmall: 12px;
$fz-small: 14px;
$fz-default: 16px;
$fz-large: 24px;
$fz-xlarge: 28px;
$fz-logo: 48px;

$ff-logo: 'Chinacyr', 'Open Sans', Helvetica, Arial, sans-serif;
$ff-currency: 'Roboto', 'Open Sans', Helvetica, Arial, sans-serif;