@use '../../../assets/css/variables' as *;
@use '../../../assets/css/mixins.scss' as *;

.product-info {
	&__content {
		width: 100%;
		height: auto;
		
		display: flex;
		justify-content: center;
		align-items: start;
		flex-wrap: wrap;

		&__img {
			padding: 32px 0;
			width: 100%;

			display: flex;
			justify-content: center;
			align-items: center;

	        background: $dark;

			@include smallTablet {
				padding: 24px 36px;
			}

			@include bigPhone {
				padding: 24px 48px;
			}

			img {
				width: 100%;
				max-width: 400px;
				height: auto;

			}
		}

		&__wrapper {
			width: 100%;
			padding: 24px 48px;

			@include smallTablet {
				padding: 24px;
			}
		}

		&__title {
			width: 100%;

			text-align: center;
			color: $white;
			font-size: $fz-xlarge;
			font-weight: 700;

			@include smallTablet {
				font-size: $fz-large;
			}
		}

		&__description {
			margin-top: 24px;
			width: 100%;

			color: $gray;
			font-size: $fz-default;
			font-weight: 400;	
			line-height: 140%;

			@include smallTablet {
				margin-top: 18px;
				font-size: $fz-default - 1px;
			}

			span {
				color: $white;
			}
		}

		&__info-wrapper {
			margin-top: 80px;
			width: 100%;

			display: flex;
			justify-content: space-between;
			align-items: center;

			@include smallTablet {
				margin-top: 48px;
			}
		}

		&__info {
			text-align: center;
			font-family: $ff-currency;
			color: $white;
			font-size: $fz-large;
			font-weight: 400;

			@include smallTablet {
				font-size: $fz-large - 2px;
			}

			span {
				font-size: $fz-default + 2px;
				color: $gray;
				font-weight: 400;

				@include smallTablet {
					font-size: $fz-default - 1px;
				}
			}
		}

		&__button {
			padding: 12px 32px !important; 

			width: 150px;
			height: 40px;
			text-align: center;

			@include smallTablet {
				padding: auto !important;
				width: 130px;
				height: 35px;

				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

		&__counter {
			@include desktop-small {
				width: 150px;
				height: 40px;
			}

			@include smallTablet {
				width: 130px;
				height: 35px;
			}
		}
	}
}
