@use '../../assets/css/variables.scss' as *;
@use '../../assets/css/mixins.scss' as *;

.product-carousel {
	margin-top: 48px;

	width: 100%;

	@include tablet {
		margin-top: 24px;
	}

	&__swiper {
		cursor: grab;
		position: relative;

		margin: 48px 0 0;
		padding: 0 64px;

		width: 100%;

		.swiper-button {
			&-prev, &-next {
				user-select: none;
				cursor: pointer;

				z-index: 10;
				position: absolute;
				top: 0;
				left: 0;

				height: 100%;
				width: 64px;

				display: flex;
				justify-content: center;
				align-items: center;

				background: $dark;

				&::before {
					content: '';
					width: 20px;
					height: 36px;

					background: url(/src/assets/images/icon-arrow.webp) no-repeat center center;
					background-size: contain;
					transform: rotate(180deg);
					opacity: .8;
				}
			}

			&-next {
				left: auto;
				right: 0;

				&::before {
					transform: rotate(0deg);
				}
			}
			

			&-disabled {
				cursor: default;

				&::before {
					opacity: 0.1;
				}
			}
		}
	}
}