@use '../../assets/css/variables.scss' as *;
@use '../../assets/css/mixins.scss' as *;

.sales {
	@include bigTablet {
		padding-top: 60px;
	}

	.section-notice {
		margin-top: 48px;
	
		@include bigTablet {
		  margin-top: 24px;
		}
	
		>div {
		  width: 100%;
		  max-width: 1200px;
		}
	}

	.user-agreement {
		h1 {
			margin-bottom: 24px;

			@include bigPhone {
				padding-left: 0;
				font-size: $fz-large;
			}
		}

		.block {
			&__title {
				margin-top: 32px;
				padding-left: 48px;
				width: 100%;

				text-align: left;
				color: $white;
				font-size: $fz-default + 2px;
				font-weight: 700;
				line-height: 140%;

				@include tablet {
					padding-left: 24px;
				}

				@include bigPhone {
					padding-left: 0;
					font-size: $fz-default;
				}
			}
		}

		p {
			margin-top: 8px;
			padding-left: 48px;

			font-size: $fz-default;
			font-weight: 400;
			line-height: 140%;

			@include tablet {
				padding-left: 24px;
			}

			@include bigPhone {
				padding-left: 0;
				font-size: $fz-default;
			}

			span {
				font-size: $fz-small;
			}
		}
	}
}